#wrapperMenuPrincipal{
	background-image: url(../images/f_complemento_modulo.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-color: rgb(104,160,195);
	height: 19px;
}
.menuPrincipal {
	background-image: url(../images/f_modulo.jpg);
	background-repeat: repeat-x;
	display: inline-block;
	width: 100%;
}


.menuPrincipal-cmMenuBorder {
	margin-right: 8px;
}

.menuNivel1,.menuNivel1-Hover {
	background: url("../images/modulo_e.jpg") no-repeat scroll left top
		rgba(0, 0, 0, 0);
	cursor: pointer;
}

.menuNivel1 > div, .menuNivel1-Hover > div {
	background: url("../images/modulo_d.jpg") no-repeat scroll right top
		rgba(0, 0, 0, 0);
	display: block;
	font-size: 8pt;
	font-weight: bold;
	padding: 1px 18px 1px 10px;
}

.menuNivel1 {
	color: #F4F4F4;
}

.menuNivel1-Hover {
	color: #333333 !important;
	background-image: url("../images/modulo_e_on.jpg");
}
.menuNivel1-Hover a{
	color: #333333 !important;
}

.menuNivel1-Hover>div {
	background-image: url("../images/modulo_d_on.jpg");
	color: #000000;
}

.menuPrincipal-cmItemBorder0 {
	background-image: url("../images/f_menu.jpg");
	background-repeat: repeat-x;
	width: 100%;
}

.menuNivel2>div,.menuNivel2-Hover>div {
	font-size: 8pt;
	border-right: 1px solid #999999;
	cursor: pointer;
	font-size: 8pt;
	font-weight: 100;
	padding-left: 5px;
	padding-right: 5px;
}

.menuNivel2>div {
	color: #666666;
}

.menuNivel2-Hover>div {
	color: #999999;
}

.menuPrincipal-cmItemBorder1 {
	width: 100%;
	border-bottom: 1px solid #598339;
	background-color: #F4F4F4;
	font-size: 8pt;
	cursor: pointer;
}
.menuNivel3{
	border-right: 1px dotted #999999;
	padding-left: 5px;
	padding-right: 5px;
}
.menuNivel3 > div:FIRST-CHILD{
	font-weight: 600;
}
.menuNivel4{
	padding-left: 10px;
}